body {
    background-color: #121826;
    margin: 0px;
}

#main {
    background-color: #4b4f65;
    width: 875px;
    margin: 0 auto;
    padding-bottom: 1px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.left{
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    color: black;
}

li a:hover {
    background-color: #5b6794;
}

#me {
    float: right;
}

.clearfix {
    overflow: auto;
    margin: 0 20px;
    font-family: Helvetica, sans-serif;
    background-color: #747d8d;
}

h1 {
    text-align: center;
}

p {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

table {
    table-layout: fixed;
}

#display {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #747d8d;
    font-family: Helvetica, sans-serif;
}

.item {
    background-color: #4b4f65;
    border-radius: 5px;
    padding: 5px;
    height: 145px;
}

.item img {
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.item h3 {
    background-color: #5b6794;
}

.item a {
    color: black;
}

#navbar {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #747d8d;
    width: 835px;
}

#footer {
    text-align: center;
    padding-bottom: 15px;
}

.logo {
    padding: 100px;
}

#credits {
    text-align: center;
    color: #ffffff;
}

a.white {
    color: #ffffff;
}
